@import "styles/media-queries.scss";
@import "styles/colors.scss";
@import "styles/typography.scss";

.header {
    background-color: $black;
    color: $white;
    left: 0;
    padding: 15px 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__highlight {
        color: $coral;
    }

    &__basket {
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;

        svg {
            fill: $white;
            height: 31px;
            width: 40px;
        }

        &--in {
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }

        &--out {
            animation: shake-out 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
    }

    &__badge {
        background-color: $coral;
        border-radius: 50%;
        color: $white;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        height: 25px;
        line-height: 25px;
        position: absolute;
        top: -8px;
        left: -15px;
        text-align: center;
        width: 25px;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes shake-out {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
