@import "styles/media-queries.scss";


.tab {
    width: 50%;
    
    @media ($screen-tablet) {
        width: auto;
    }

    &__nav {
        display: flex;
        margin-bottom: -2px;
    }

    &__link {
        border: solid 2px transparent;
        border-bottom: none;
        color: var(--color-black);
        display: block;
        font-weight: 600;
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        z-index: 1;

        @media ($screen-tablet) {
            font-size: 20px;
            padding: 15px 25px;
        }

        &--active {
            background-color: var(--color-white);
            border-color: var(--color-light-grey);
            border-radius: 5px 5px 0 0;
        }

        &:hover, &:active, &:focus {
            outline: none;
        }
    }

    &__content {
        border: solid 2px var(--color-light-grey);
        border-radius: 5px;
        display: none;
        padding: 15px;
        position: relative;

        @media ($screen-tablet) {
            padding: 50px 25px;
        }

        &--active {
            display: block;
        }
    }
}