@import "styles/media-queries.scss";

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

    @media ($screen-smalltablet) {
        max-width: 540px;
    }

    @media ($screen-tablet) {
        max-width: 750px;
    }

    @media ($screen-laptop) {
        max-width: 970px;
    }

    @media ($screen-desktop) {
        max-width: 1170px;
    }

    @media ($screen-desktop-lg) {
        max-width: 1400px;
    }
}
