@import "styles/media-queries.scss";

.meal {
    margin-bottom: 15px;
    width: 100%;

    &:last-child {
        margin: 0;
    }

    @media ($screen-tablet) {
        width: calc(50% - 15px);
    }

    @media ($screen-laptop) {
        width: calc(33.33% - 20px);
    }

    @media ($screen-desktop-lg) {
        width: calc(25% - 22px);
    }

    &__upper {
        height: 150px;
        margin-top: 8px;
        position: relative;
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.1;

        @media ($screen-tablet) {
            font-size: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__tags {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    &__actions {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }

    &__img {
        display: block;
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    &__btn {
        background-color: var(--color-coral);
        color: var(--color-white);
        cursor: pointer;
        border: none;
        font-size: 40px;
        height: 50px;
        line-height: 50px;
        margin: 0;
        outline: none;
        padding: 0;
        text-align: center;
        transition: all 0.2s ease-in-out;
        width: 50px;

        &:hover, &:active, &:focus {
            background-color: var(--color-black);
        }
    }

    &__ingredients {
        cursor: pointer;
        font-size: 14px;
        padding: 10px 0;

        &[open] {
            .meal__ingredients-title {
                color: var(--color-coral);
            }
        }

        &-title {
            font-size: 16px;
            font-weight: 600;
        }

        &-list {
            margin-top: 10px;
        }
    }
}