@import "styles/media-queries.scss";

.basket {
    background: rgba(#000000, 0.8);
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 5;

    &__inner {
        background: var(--color-white);
        color: var(--color-black);
        height: 100%;
        margin: 0 auto;
        max-width: 600px;

        @media ($screen-smalltablet) {
            height: auto;
            max-height: 90%;
            position: relative;
            top: 5%;
            width: 90%;
        }

        @media ($screen-tablet) {
            max-height: 80%;
            top: 10%;
        }

        @media ($screen-laptop) {
            height: 70%;
            top: 15%;
            max-height: none;
        }
    }

    &__ingredient {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    &__header {
        background-color: var(--color-black);
        display: flex;
        justify-content: space-between;
        left: 0;
        margin: 0 0 20px 0;
        padding: 15px;
        position: sticky;
        right: 0;
        top: 0;
    }

    &__scrollable {
        height: calc(100% - 80px);
        overflow-y: scroll;
        padding: 0 15px;
    }

    &__title {
        color: var(--color-white);
        font-size: 22px;
        line-height: 1;
    }

    &__meal {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }

    &__list {
        margin-bottom: 40px;
    }

    &__btn {
        background-color: var(--color-black);
        color: var(--color-white);
        cursor: pointer;
        border: none;
        height: 20px;
        margin: 0 0 0 20px;
        outline: none;
        padding: 0;
        transition: all 0.2s ease-in-out;
        width: 20px;

        &--reset {
            width: 27px;
        }

        &:hover, &:active, &:focus {
            background-color: var(--color-black);
        }

        svg {
            fill: var(--color-white);
        }
    }
}