.basket {
    background: var(--color-white);
    bottom: 0;
    color: var(--color-black);
    height: 100%;
    left: 0;
    margin: 0 auto;
    max-width: 600px;
    overflow: scroll;
    padding: 10px 15px 55px 15px;
    position: fixed;
    right: 0;
    z-index: 5;

    &__ingredient {
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    &__actions {
        background: var(--color-coral);
        bottom: 0;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding: 10px 15px;
        position: fixed;
        right: 0;    
    }

    &__title {
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: 22px;
        line-height: 1;
        margin: -15px -15px 20px -15px;
        padding: 15px;
    }

    &__meal {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }

    &__list {
        margin-bottom: 40px;
    }

    &__btn {
        background-color: var(--color-black);
        color: var(--color-white);
        cursor: pointer;
        border: none;
        font-size: 16px;
        line-height: 16px;
        margin: 0;
        outline: none;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        width: calc(50% - 10px);

        &:hover, &:active, &:focus {
            background-color: var(--color-black);
        }
    }
}