@import "styles/media-queries.scss";

.footer {
    background-color: var(--color-black);
    bottom: 0;
    color: var(--color-white);
    left: 0;
    padding: 15px 0;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1;

    &__highlight {
        color: var(--color-white);
        font-weight: 600;
    }
}