@import "styles/media-queries.scss";

.footer {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 15px 0;
    text-align: center;

    &__highlight {
        color: var(--color-white);
        font-weight: 600;
    }
}