@import "styles/media-queries.scss";
@import "styles/colors.scss";
@import "styles/typography.scss";

.radio {
    opacity: 0;
    position: absolute;

    &__label {
        color: $black;
        display: inline-block;
        font-family: $font-family;
        font-size: 16px;
        font-weight: $font-weight-regular;
        line-height: 1.3;
        margin: 0 0 8px 0;
        transition: color ease-in-out 0.15s;
    }

    + span {
        background-color: $grey-400;
        border: solid 1px $grey-400;
        border-radius: 15px;
        display: inline-block;
        line-height: 22px;
        padding: 5px;
        transition: all 0.2s ease-in-out;

        label {
            color: $black;
            cursor: pointer;
            display: inline-block;
            font-family: $font-family;
            font-weight: $font-weight-bold;
            font-size: 16px;
            line-height: 1.4;
            padding: 0 10px;
            position: relative;
            text-align: center;
        }
    }

    &:checked + span {
        background-color: $coral;
        border-color: $coral;

        label {
            color: $white;
        }
    }

    &:hover + span {
        border-color: $coral;
    }

    &__layout {
        display: flex;
        flex-wrap: wrap;

        .radio__wrapper {
            margin-bottom: 0;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
