.tag {
    background-color: $white;
    color: $pure-black;
    display: inline-block;
    font-size: 12px;
    font-weight: $font-weight-bold;
    list-style: none;
    margin-right: 5px;
    padding: 2px 5px;
    text-transform: uppercase;

    &:last-child {
        margin-right: 0;
    }
}