@import "styles/media-queries.scss";

.meals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    &--no-scroll {
        overflow: hidden;
    }

    &__main {
        padding-top: 90px;
        padding-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
    }
}