@import "styles/colors.scss";

.ingredient {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;

    &:nth-child(odd) {
        background: $light-grey;
    }

    &__title {
        font-size: 14px;
    }
}